<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<div class="jumbotron">
			<div class="container">
				<h1>Bears Display</h1>
				<p>Showing All of the Spirit Bears</p>
				<p>
					<a href="/" class="btn btn-primary btn-lg">Home</a>
				</p>
				<p>
					<a href="/about" class="btn btn-primary btn-lg">About</a>
				</p>
		
				<table class="table table-striped table-hover">
					<thead>
						<tr id="">
							<th>Name</th>
							<th>Age</th>
							<th>Gender</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i = 0; i < bears.length; i ++) {%>
						<tr id="<%= bears[i]._id %>">
							<td><%= bears[i].name %></td>
							<td><%= bears[i].age %></td>
							<td><%= bears[i].gender %></td>
							<td><button type="button" class="btn btn-danger deleteBear">Hibernate Bear</button></td>
						</tr>
						<% }; %>
					</tbody>
					<tbody>
						<tr id=>
							<td>hernard</td>
							<td>55</td>
							<td>feMale</td>
						</tr>
					</tbody><tbody>
						<tr>
							<td>orfer</td>
							<td>77</td>
							<td>Male</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form lars">
			<div class="container-fluid">							
				<form action="/api/bears" method="POST" class="form-inline" role="form">
					<div class="form-group">
						<label class="sr-only" for=""></label>
						<input type="text" name="name" class="form-control" id="" placeholder="Bear Name">
					</div>
					<div class="form-group">
						<label class="sr-only" for=""></label>
						<input type="text" name="age" class="form-control" id="" placeholder="Bear Age">
					</div>
					<div class="form-group">
						<label class="sr-only" for=""></label>
						<input type="text" name="gender" class="form-control" id="" placeholder="Bear Gender">
					</div>
		
			
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
	</div>			
	</head>
	<body>
		<h1 class="text-center"></h1>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 		<script src="app.js"></script>
	</body>
</html>